<!DOCTYPE html>
<html>
<head>
    <title>Arrow Button Presses</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io.connect('http://192.168.0.170:5000');

        document.addEventListener("keydown", function(event) {
            if(event.key == "ArrowUp") {
                socket.emit('forward');
            }
            if(event.key == "ArrowDown" ) {
                socket.emit('backward');
            }
            if(event.key ==  "ArrowLeft") {
                socket.emit('left');
            }
            if(event.key == "ArrowRight") {
                socket.emit('right');
            }
            if(event.key == "Escape") {
                socket.emit('exit');
            }
        });

        socket.on('response', function(data) {
            console.log(data.message);
        });
    </script>
</head>
<body>
    Press any arrow key and the direction will be recorded.
</body>
</html>
